.dashboard h1{
    font-size: 1.8em;
    margin: 50px;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.carousel h1{
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
  padding: 13px 0;
}
.carousel {
    margin: 500px 0px 0px 500px;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    
    width: 100%;
    height: 100vh;
    min-height: 400px;
    background: #ffffff;
}
.carousel .carousel-text h1 {
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}
.carousel .carousel-text {
    position: absolute;
    max-width: 700px;
    height: calc(100vh - 35px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}
.btn.custom-btn {
    padding: 12px 25px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #fbaf32;
    border: 2px solid #fbaf32;
    border-radius: 5px;
    transition: .5s;
}
.carousel .carousel-btn .btn:last-child {
    margin-left: 10px;
    background: #719a0a;
    border-color: #719a0a;
}
body{
    background: #719a0a;
}