{% extends 'base.html' %}

{% block content %}

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <p>Balance: {{ balance }}</p>

    <form action='/search' method='POST'>
        
        <label for='search_term'>Search on Amazon:</label>
        <input type='text' name='search_term'>

        <label for='submit'>Search</label>
        <input type='submit' name='submit'>
    </form>

    <table>
        <tr>
            <th>Item name</th>
            <th>Price</th>
        </tr>
        
        <!-- do for range loop to get record number, then transmit data to app.py -->
        {% for record in records %}
        
            <tr>
                <td><a href='{{ record[3] }}'>{{ record[1] }}</a></td>
                <td id='price{{ record[0] }}'>{{ record[2] }}</td>
                <td><button id='{{ record[0] }}' onclick="sendItem('{{ record[0] }}', '{{ record[1] }}', '{{ record[2] }}', '{{ record[3] }}', '{{ balance }}')">Add Item</button></td>
            </tr>

        {% endfor %}
    </table>

    <script>
        function sendItem(asin, description, price, url, balance){
            the_balance = Number(balance)
            the_price = Number(String($('#price'+asin).text()))

            console.log(the_balance)
            console.log(the_price)

            if (the_balance < the_price){
                console.log("not work")
                $('#'+asin).text('Insufficient funds');
            }
            else{
                console.log("all good")
                $('#'+asin).text('Item added');

                data = {
                    'asin': asin,
                    'description': description,
                    'price': price,
                    'url': url
                }
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('add_item') }}",
                    data: data
                });
            }

            
        }
    </script>

    

{% endblock %}