{% extends 'base.html' %}


{% block content %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<!-- <p>Balance: {{ balance }}</p>

    <form action='/search' method='POST'>
        
        <label for='search_term'>Search on Amazon:</label>
        <input type='text' name='search_term'>

        <label for='submit'>Search</label>
        <input type='submit' name='submit'>
    </form>

    <table>
        <tr>
            <th>Item name</th>
            <th>Price</th>
        </tr>
        
        do for range loop to get record number, then transmit data to app.py 
{% for record in records %}

<tr>
    <td><a href='{{ record[3] }}'>{{ record[1] }}</a></td>
    <td id='price{{ record[0] }}'>{{ record[2] }}</td>
    <td><button id='{{ record[0] }}'
            onclick="sendItem('{{ record[0] }}', '{{ record[1] }}', '{{ record[2] }}', '{{ record[3] }}', '{{ balance }}')">Add
            Item</button></td>
</tr>

{% endfor %}
</table>

<script>
    function sendItem(asin, description, price, url, balance) {
        the_balance = Number(balance)
        the_price = Number(String($('#price' + asin).text()))

        console.log(the_balance)
        console.log(the_price)

        if (the_balance < the_price) {
            console.log("not work")
            $('#' + asin).text('Insufficient funds');
        }
        else {
            console.log("all good")
            $('#' + asin).text('Item added');

            data = {
                'asin': asin,
                'description': description,
                'price': price,
                'url': url
            }
            $.ajax({
                type: "POST",
                url: "{{ url_for('add_item') }}",
                data: data
            });
        }


    }

</script> -->

<body>


    <div class="container my-3">
        <h1 class="text-center">Add An Item</h1>
        <h4 class="text-center">Your current balance is {{ balance }}</h4>
        
        <div class="mb-3">
            <form action="/search" method='POST'>
                <label for="title" class="form-label">Search on Amazon</label>
                <input type="text" name='search_term' class="form-control" id="title" placeholder="Enter the keyword">
                <div id="emailHelp" class="form-text"></div>
                <input type="submit" name='submit' id="add" class="btn btn-primary">
            </form>
        </div>
        

        <div id="items" class="my-4">
            <h2>Results</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    {% for record in records %}
                        <tr>
                            <td><a href='{{ record[3] }}'>{{ record[1] }}</a></td>
                            <td id='price{{ record[0] }}'>${{ record[2] }}</td>
                            <td><button 
                                id='{{ record[0] }}' 
                                class="btn btn-sm btn-primary"
                                onclick="sendItem('{{ record[0] }}', '{{ record[1] }}', '{{ record[2] }}', '{{ record[3] }}', '{{ balance }}')"
                                >Add to list</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <script>
        function sendItem(asin, description, price, url, balance) {
            the_balance = Number(balance)
            the_price = Number(String($('#price' + asin).text()))
    
            console.log(the_balance)
            console.log(the_price)
    
            if (the_balance < the_price) {
                console.log("not work")
                $('#' + asin).text('Insufficient funds');
            }
            else {
                console.log("all good")
                $('#' + asin).text('Item added');
    
                data = {
                    'asin': asin,
                    'description': description,
                    'price': price,
                    'url': url
                }
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('add_item') }}",
                    data: data
                });
            }
    
    
        }
    </script>
</body>


{% endblock %}