<!doctype html>
<html>
    <head>
        {% block head %}
            <!--ADD CSS FILE LINK-->
            <title>{% block title %}{% endblock %} - My Webpage</title>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="{{ url_for('static',filename='base.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        {% endblock %}
    </head>
    <body>
        <!--ADD NAVBAR-->
        <div id="content">{% block content %}{% endblock %}</div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>