{% extends 'base.html' %}

{% block content %}

<head>
    <!--ADD CSS FILE LINK-->
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='dashboard.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="dashboard">
        <div class="container">
            {% for user in data %}
            <h1>Welcome, {{ user[1] }}!</h1>
            <h1>Your current balance is ${{ balance }}</h1>
        </div>
        <div class="carousel">
            <a class="btn custom-btn" href="{{ url_for('wishlist') }}">See wishlist!</a>
            <a class="btn custom-btn" href="{{ url_for('add_item') }}">Add Gifts</a>
            <a class="btn custom-btn" href="{{ url_for('logout') }}">Log Out</a>
        </div>
    </div>

</body>


{% endfor %}

{% endblock %}