{% extends 'base.html' %}

{% block content %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='login.css') }}">
  <title>Login</title>
</head>

<body>
  <div class="login-box" style='background-color: black; opacity: 0.7; padding: 10px; border-radius:5px;'>
    <h1>Login</h1>
    <form action='/login' method='POST'>
      <div class="textbox">
        <input type="text" name="email" id="email" placeholder="Email" required>
      </div>

      <div class="textbox">
        <input type="password" name="password" id="password" placeholder="Password" required>
      </div>

      <input type="submit" class="btn" value="Sign in">
    </form>

    <input type="button" class="btn" value="Register" onclick='location.href="/register"'>
  </div>
</body>
{% endblock %}